 <div class="container">
   <header
     class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
     <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
       <%= image_tag 'rails.png' =%>
     </a>

     <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
       <li><a href="#" class="nav-link px-2 link-secondary"><%= link_to "| Home |", home_index_path%></a></li>
       <li><a href="#" class="nav-link px-2 link-dark"><%= link_to "| Our mission |", home_index_path%></a></li>
       <li><a href="#" class="nav-link px-2 link-dark"><%= link_to "| Contacts |", home_index_path%></a></li>
     </ul>

     <div class="text-end">
       <a class="btn btn-primary" href='/sessions/new'>Login</a>
       <a class="btn btn-primary" href='/users/new'>Sign-up</a>
     </div>
   </header>
 </div>