<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <%= image_tag 'rails.png' =%>
        </a>

        <ul class="nav">
            <li><a href="#" class="nav-link px-2 link-secondary"><%= link_to "| Home |", home_index_path%></a></li>
        </ul>

        <div class="d-grid gap-2 d-md-block">
            <% if session[:user_id] %>
            <button class="btn btn-info" type="button"><%= link_to 'Postar',   vagas_new_path   %></button>
            <button class="btn btn-danger"
                type="button"><%= link_to 'Logout', logout_path, method: :delete   %></button>
            <% end %>
        </div>

        <div class="col-md-3 text-end">
            <a class="btn btn-primary" href='/sessions/new'>Login</a>
            <a class="btn btn-primary" href='/users/new'>Sign-up</a>
        </div>
    </header>
</div>