@import 'bootstrap/scss/bootstrap';

.alert-primary {
    --bs-alert-color: #055160;
    --bs-alert-bg: #cff4fc;
    --bs-alert-border-color: #b6effb;
    margin-left: 10rem;
    margin-right: 10rem;
}

.nav {
    margin-left: -25rem;
    padding-left: -5rem;
    padding-right: 5rem;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.alert-primary  {
    text-align: center;
}

.form-control {
  text-align: left;
  align-items: center;
}

.actions {
    text-align: center;
}

.fw-normal {
    font-weight: 400 !important;
    text-align: center;
}

.py-5 {
    text-align: center;
    background-color: #cff4fc;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    margin-left: -3rem;
    margin-right: -3rem;
    margin-top: 2rem;
    margin-bottom: -1rem;
}