@import 'bootstrap/scss/bootstrap';

.alert-primary {
    --bs-alert-color: #055160;
    --bs-alert-bg: #cff4fc;
    --bs-alert-border-color: #b6effb;
    margin-left: 10rem;
    margin-right: 10rem;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.alert-primary {
    text-align: center;
}

.form-control {
    text-align: left;
    align-items: center;
}

.actions {
    text-align: center;
}

.fw-normal {
    font-weight: 400 !important;
    text-align: center;
}

.py-5 {
    text-align: center;
    background-color: #cff4fc;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    margin-left: -3rem;
    margin-right: -3rem;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.banner {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.header {
    background-color: #055160;
}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle {
    outline: 0;
}
a {
    color:#fff;
    text-decoration: underline;
}

.d-grid {
    text-align: center;
}

.h5,
h5 {
    text-align: center;
}

.h6,
h6 {
    text-align: center;
}

.selecao {
    text-align: center;
}
